/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY, flex container, sivu ainakin 100vh, eli viewport height */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden; 
}

/* CONTAINER, kasvaa tilaa tarvittaessa */
.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* HEADER, vihree tausta headerille ja tausta valkonen*/
header {
  background: #4CAF50;
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 5px solid #388E3C;
  width: 100%;
}

/* NAV, vaaka flexbox menu, tumma tausta */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  background: #333;
}
/* väliä menu objekteille */
nav ul li {
  margin: 0.5rem;
}

/* muuttaa stylen accordionin togleille samanlaisiksi */
nav ul li a,
.accordion-toggle {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  background: #333;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

nav ul li a:hover,
.accordion-toggle:hover {
  background: #444;
  border: 2px solid white;
}

/* DROPDOWN piilossa automatic*/
.dropdown-content {
  display: none;
  background: #444;
  list-style: none;
}

.dropdown-content li a {
  padding: 0.75rem 1rem;
  display: block;
  color: white;
}

.dropdown-content li a:hover {
  background: #555;
}

.dropdown.active .dropdown-content {
  display: block;
}

/* GRID */
main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  padding: 1rem;
  flex: 1;
}

aside {
  background: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

article {
  background: #fff;
  padding: 1rem;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

/* IMAGES */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/* responsiiviset kuvat (mobiiliongelman korjausta), 90% näytön leveydestä, jotta jää vähän ylimäärästä tilaa */
article img {
  max-width: 90%; 
  margin: 0 auto;  
}

.responsive-img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}


footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  width: 100%;
}

/* korjaa ongelman alle 768px leveillä näytöillä, eli puhelimilla, hajottaa muotoilua, mutta toimii päällekäin */
@media (max-width: 768px) {
  .responsive-video {
    max-width: 300px;
  }
  main {
    grid-template-columns: 1fr;
  }

  nav ul {
    flex-direction: column;
  }
}



